# Build Outputs
build
gz3d/build
build_*

# Just Mac Things
.DS_Store

# Just IDE Things
.vscode

# Etc
*.*~
*~
*.orig
*.swp
http/client/assets
node_modules
http/client
coverage
doc
npm-debug.log
test_results
assets/scripts/my_script.js
tmp/
gzweb_sim_v1.tar.gz
repomix-docker.xml
repomix-output.xml
repomix.sh
roslaunch.sh
.ai_memory/0_archive_context.md
.ai_memory/1_project_context.md
.ai_memory/2_active_task.md
.ai_memory/3_work_log.md
